@model LoMan.ViewModels.DashboardVM;
@{
    ViewData["Title"] = "Home Page";
}

<div class="container-fluid">

    <br />
    <div class="row">
        <div class="col-md-12 text-white">
            <h3>
                Analytics Dashboard
            </h3>
        </div>
    </div>

    <br />
    <div class="row">
        <div class="col-md-4">
            <div class="card text-white bg-midnight-bloom">
                <h5 class="card-header">
                    Total No Of Loans
                </h5>
                <div class="card-body">
                    <p class="card-text">
                        @Model.dashboard.TotalLoans
                    </p>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card text-white bg-arielle-smile">
                <h5 class="card-header">
                    Total Principle
                </h5>
                <div class="card-body">
                    <p class="card-text">
                        @Model.dashboard.Tprinciple
                    </p>
                </div>

            </div>
        </div>
        <div class="col-md-4">
            <div class="card text-white bg-grow-early">
                <h5 class="card-header">
                    Total Interest
                </h5>
                <div class="card-body">
                    <p class="card-text">
                        @Model.dashboard.Tinterest
                    </p>
                </div>

            </div>
        </div>
    </div>

    <br />
    <div class="row">
        <div class="col-md-4">
            <div class="card text-white bg-focus">
                <h5 class="card-header">
                    Total Loans Given This Month
                </h5>
                <div class="card-body">
                    <p class="card-text">
                        @Model.dashboard.MonthlyLoans
                    </p>
                </div>

            </div>
        </div>
        <div class="col-md-4">
            <div class="card text-white bg-happy-fisher">
                <h5 class="card-header">
                    Total Principle Recieved This Month
                </h5>
                <div class="card-body">
                    <p class="card-text">
                        @Model.dashboard.Mprinciple
                    </p>
                </div>

            </div>
        </div>
        <div class="col-md-4">
            <div class="card text-white bg-happy-green">
                <h5 class="card-header">
                    Total Interest Recieved This Month
                </h5>
                <div class="card-body">
                    <p class="card-text">
                        @Model.dashboard.Minterest
                    </p>
                </div>

            </div>
        </div>
    </div>

    <br />
    <div class="row">
        <div class="col-md-4">
            <div class="card text-white bg-royal">
                <h5 class="card-header">
                    Principle Incerement
                </h5>
                <div class="card-body">
                    <div class="progress">
                        <div class="progress-bar bg-danger" role="progressbar" style="width: @Math.Abs(Model.dashboard.Pincrement)%;" aria-valuenow="@Math.Abs(Model.dashboard.Pincrement)" aria-valuemin="0" aria-valuemax="100">@Model.dashboard.Pincrement %</div>
                    </div>
                    
                </div>

            </div>
        </div>
        <div class="col-md-4">
            <div class="card text-white bg-malibu-beach">
                <h5 class="card-header ">
                    Interest Increment
                </h5>
                <div class="card-body">
                    <div class="progress">
                        <div class="progress-bar bg-danger" role="progressbar" style="width: @Math.Abs(Model.dashboard.Iincrement)%;" aria-valuenow="@Math.Abs(Model.dashboard.Iincrement)" aria-valuemin="0" aria-valuemax="100">@Model.dashboard.Iincrement %</div>
                    </div>
                </div>

            </div>
        </div>
        <div class="col-md-4">
            <div class="card text-white bg-tempting-azure">
                <h5 class="card-header">
                    Monthly Growth
                </h5>
                <div class="card-body">
                    <div class="progress">
                        @{
                            Model.dashboard.MonthlyGrowth *= -1; 
                         }
                        <div class="progress-bar bg-danger" role="progressbar" style="width: @Math.Abs(Model.dashboard.MonthlyGrowth)%;" aria-valuenow="@Math.Abs(Model.dashboard.MonthlyGrowth)" aria-valuemin="0" aria-valuemax="100">@Model.dashboard.MonthlyGrowth %</div>
                    </div>
                </div>

            </div>
        </div>
    </div>


    <br />
    <div class="row">
        <div class="col-md-12 ">
            <div class="card text-white  bg-amy-crisp ">
                <h5 class="card-header">
                    Today's Pending Loans
                </h5>
                <div class="card-body">
                    <table class="table table-borderless " style=" border-collapse: separate;  border-spacing: 0 1em;">
                        <thead>
                            <tr>
                                <th>
                                    #
                                </th>
                                <th>
                                    Name
                                </th>
                                <th>
                                    Issue Date
                                </th>
                                <th>
                                    Status
                                </th>
                            </tr>
                        </thead>
                        <tbody class="text-dark">
                            @foreach (Loan loan in @Model.Loans)
                            {
                                int i = 1;
                                <tr>
                                    <td>@i</td>
                                    <td>@loan.Name</td>
                                    <td>@loan.Idate</td>
                                    <td class="badge badge-danger">@loan.Status</td>
                                </tr>

                            }
                        </tbody>
                    </table>
                </div>

            </div>


        </div>
    </div>
</div>