@model IEnumerable<LoMan.Models.Recoveries>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="row">
    <div class="col-md-12">
        <h1>List Of Recoveries</h1>
    </div>
</div>
<form asp-controller="Recoveries" asp-action="Index" method="get">
    <p>
        Month And Year :
        <input id="MonthYear" name="MonthYear" type="month">
        <input type="submit" value="Filter" />
    </p>
</form>


<form asp-controller="Recoveries" asp-action="Index" method="get">
    <p>
        Search Type:
        <select id="SearchType" name="SearchType">
            <option value="">Select Search Type</option>
            <option value="name">Name</option>
            <option value="date">Date</option>            
        </select>
        <input type="text" id="SearchInput" name="SearchInput" placeholder="Enter Key To Search" />
        <input type="submit" value="Search" />
    </p>
</form>
<br />
<div class="row">
    
    <div class="card-body">
        <table class="table table-borderless bg-amy-crisp">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.Name)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Date)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Principle)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Interest)
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody id="table-body">
                @foreach (var item in Model)
                {
                    @if (!item.Name.Equals("Except"))
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.Name)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Date)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Principle)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Interest)
                            </td>
                            <td>
                                <a class="btn btn-warning" asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                                <a class="btn btn-info" asp-action="Details" asp-route-id="@item.Id">Details</a> |
                                <a class="btn btn-danger" asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                            </td>
                        </tr>
                    }
                }
            </tbody>
        </table>
    </div>
</div>